/* Variables */
:root {
    --blue: #0a2465;
    --orange: #f2550d;
    --geyser: #d9dee9;
    --bole: #7d4642;
    --waikawa-grey: #546ca4;
    --kashmir-blue: #546c91;
    --crater-brown: #432028;
    --cinereous: #958484;
    --white: #ffffff;
    --grey-text: #4A4A4A;
    --placeholder-text: #757575;
    --red: #d9534f;
}

.req-det {
    border: 5px solid var(--blue);
    margin:auto;
    width: 50%;
    padding: 10px;
    

}